<div>
    Generation: <%= @generation %>
    <br>
    <% @size.each do |el| %>
        <span><%= el %></span>
    <% end %>
    <br>
    <table>
        <% @matrix.each do |row| %>
        <tr>
            <% row.each do |el| %>
              <td style="width:30px;height=30px"> <%= el == 1 ? '*' : '.' %> </td>
            <% end %>
        </tr>
        <% end %>
    </table>
    <%= button_tag 'Start', onclick: 'startControllerPolling(' + String(@generation) + ', "[' + @size.map(&:inspect).join(', ') + ']", "[' + @matrix.map(&:inspect).join(', ') + ']")'  %>
    <%= button_tag 'Stop', onclick: 'stopControllerPolling()'  %>
    <%= button_to 'Next', compute(generation: @generation, size: @size, matrix: @matrix) %>
</div>
<%= javascript_include_tag 'poller' %>